<div class="requestBot">
  <div class="requestsHeader">
    <div class="requestsHeader-title">
      <span class="requestsHeader-upcoming">{{active_requests.length}}</span> Upcoming Requests
    </div>
    <div class="requestsHeader-example">
      !play Artist - Title
    </div>
  </div>

  <div class="requests">
    {{#each requests as |request|}}
      {{bots/requests/request-item model=request}}
    {{/each}}
  </div>
</div>
